<div class="container_page">
    <img src="assets/logo/logo.png" alt="logo" class="logo" style="width: 5%!important;">
    <span style="font-size: 12px;color: var(--app-color-warn);cursor: pointer;" (click)="quitGame()">Quitter le jeu</span>
    <br>
    <span>{{ userName }}</span>
    <div class="gametemplate">
        <div class="points_timer">

            <div class="timer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-clock-hour-3">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M12 12h3.5" />
                    <path d="M12 7v5" />
                </svg>
                <span>{{timer | secondsminutes}}</span>
            </div>

            <div class="reactions">
                <span *ngIf="success_evnt" class="evnt">
                    <img [src]="text_evnt_success" alt="smiley">
                </span>
                <span *ngIf="error_evnt" style="width: 100%;font-size: 14px;">
                    <span>{{text_evnt_error}}</span>
                </span>
                <span *ngIf="gameOverEvnt" class="evnt">
                    <img *ngIf="gameOverEvnt && party_over_count === 8" [src]="'assets/reactions/win.png'" alt="smiley">
                    <img *ngIf="gameOverEvnt && party_over_count < 8" [src]="'assets/reactions/loose.png'" alt="smiley">
                </span>
            </div>

            <div class="points">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-cards">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M3.604 7.197l7.138 -3.109a.96 .96 0 0 1 1.27 .527l4.924 11.902a1 1 0 0 1 -.514 1.304l-7.137 3.109a.96 .96 0 0 1 -1.271 -.527l-4.924 -11.903a1 1 0 0 1 .514 -1.304z" />
                    <path d="M15 4h1a1 1 0 0 1 1 1v3.5" />
                    <path d="M20 6c.264 .112 .52 .217 .768 .315a1 1 0 0 1 .53 1.311l-2.298 5.374" />
                </svg>
                <span [ngClass]="{'win_color': coins > 0}">{{coins}}</span>
            </div>


        </div>


        <div class="countdown" *ngIf="countdown > -2 || gameOverEvnt">
            <span *ngIf="countdown > 0">{{ countdown }}</span>
            <span *ngIf="countdown === 0">C'est parti!</span>
            <span *ngIf="gameOverEvnt && party_over_count === 8">Partie terminée!</span>
            <span *ngIf="gameOverEvnt && party_over_count < 8">Termps écoulé!</span>
            <button mat-raised-button color="primary" (click)="restart()" *ngIf="gameOverEvnt">Rejouer</button>
        </div>

        <div class="div_game" *ngIf="countdown < 1">
            <button *ngFor="let card of cards" class="box" (click)="verifiedCard(card)"
                [ngClass]="{'party_start_finish': (countdown > -1 || gameOverEvnt), 'revealbox': card.checking || card.found, 'error' : card.error, 'success' : card.found, 'success_event' : card.finishFound,'error_event' : card.error }"
                [disabled]="(first_card && second_card) || gameOverEvnt || countdown > -1">
                <svg *ngIf="!card.checking && !card.found" xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-question-mark">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 8a3.5 3 0 0 1 3.5 -3h1a3.5 3 0 0 1 3.5 3a3 3 0 0 1 -2 3a3 4 0 0 0 -2 4" />
                    <path d="M12 19l0 .01" />
                </svg>
                <img *ngIf="card.checking || card.found" [src]="'assets/animals/' + card.name + '.png'" height="60px"
                    width="50px" alt="image box">
            </button>
        </div>

    </div>
</div>